<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>StudentRegistrationSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TableListAction</display-name>
		<servlet-name>TableListAction</servlet-name>
		<servlet-class>TableListAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetTAAction</display-name>
		<servlet-name>GetTAAction</servlet-name>
		<servlet-class>GetTAAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetPrerequisitesAction</display-name>
		<servlet-name>GetPrerequisitesAction</servlet-name>
		<servlet-class>GetPrerequisitesAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EnrollStudentAction</display-name>
		<servlet-name>EnrollStudentAction</servlet-name>
		<servlet-class>EnrollStudentAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DropStudentAction</display-name>
		<servlet-name>DropStudentAction</servlet-name>
		<servlet-class>DropStudentAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteStudentAction</display-name>
		<servlet-name>DeleteStudentAction</servlet-name>
		<servlet-class>DeleteStudentAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TableListAction</servlet-name>
		<url-pattern>/TableListAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTAAction</servlet-name>
		<url-pattern>/GetTAAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPrerequisitesAction</servlet-name>
		<url-pattern>/GetPrerequisitesAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EnrollStudentAction</servlet-name>
		<url-pattern>/EnrollStudentAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DropStudentAction</servlet-name>
		<url-pattern>/DropStudentAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteStudentAction</servlet-name>
		<url-pattern>/DeleteStudentAction</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
